<!DOCTYPE html>
<html>
  <title>demo1</title>
<!-- <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script> -->
  <script src="./build/angular.min.js"></script>
  <body>

    <!-- <div ng-app="">
      <p>Input something in the input box:</p>
      <p>Name : <input type="text" ng-model="name" placeholder="Enter name here"></p>
      <h1>Hello {{name}}</h1>
    </div> -->
    <div ng-app="">
      <p>Name: <input type="text" ng-model="name"></p>
      <p ng-bind="name"></p>
    </div>
  </body>

</html>
<!-- 
注释 
Example explained:

AngularJS starts automatically when the web page has loaded.

The ng-app directive(指令) tells AngularJS that the <div> element is the "owner" of an AngularJS application.

The ng-model directive binds the value of the input field to the application variable name.

The ng-bind directive binds the content of the <p> element to the application variable name.


-->
