<template>
	<div class="body-box">
		<div class="bread-box clearfix">
			<div class="bread-left-box">
				<el-breadcrumb v-if="!isHome" separator-class="el-icon-arrow-right">
<!--					<el-breadcrumb-item title="首页">-->
<!--						<a @click="goHome"><i class="el-icon-location mr-4" ></i>首页</a>-->
<!--					</el-breadcrumb-item>-->
<!--					<el-breadcrumb-item :title="activeMenuName">{{ activeMenuName }}</el-breadcrumb-item>-->
				</el-breadcrumb>
			</div>
		</div>
		<el-card class="harvest_library__card_box">
			<div slot="header" class="jump-wrapper">
				<b class="box-title">{{ activeMenuName }}</b>
        <span class="display__flex">
          <span  @click="visible = true; currentView = 'folderDownloadTask'" class="middle">
            <img src="../../../static/images/folderDownloadTask.png" class="mr-10" width="20" height="20" alt="文件夹打包下载任务查看">
            <span>文件夹打包下载任务查看 <span v-if="packagingTaskAmount">（{{ packagingTaskAmount }}）</span></span>
          </span>
          <span class="sep"></span>
          <span  @click="visible = true; currentView = 'recyclingBin'"   class="middle">
            <img src="../../../static/images/recyclingBin.png" class="mr-10" width="20" height="20" alt="回收站">
            <span>回收站</span>
          </span>
        </span>
			</div>
      <new-drawing @passData="getData"></new-drawing>
      <sapi-dialog
        v-model="visible"
        class="dialog">
        <component :is="currentView"></component>
      </sapi-dialog>
		</el-card>
	</div>
</template>

<script>
import newDrawing from './newDrawing.vue'
import SapiDialog from '@/components/sapi-dialog'
import recyclingBin from '@/pages/pdm/harvestLibrary/views/recyclingBin/index.vue'
import folderDownloadTask from '@/pages/pdm/harvestLibrary/views/folderDownloadTask/index.vue'

export default {
    name: 'HarvestLibraryIndex',
    props: ['isHome'],
    data () {
        return {
            activeMenuName: '图档库',
            packagingTaskAmount: 0,
            visible: false,
            currentView: '',
            folderDownloadTaskUrl: '/harvestLibrary/index.html#/folderDownloadTask?menuId=' + this.$getMenuId('/harvestLibrary/index.html#/folderDownloadTask').MenuId,
            recyclingBinUrl: '/harvestLibrary/index.html#/recyclingBin?menuId=' + this.$getMenuId('/harvestLibrary/index.html#/recyclingBin').MenuId,
        }
    },
    components: {
        newDrawing,
        SapiDialog,
        recyclingBin,
        folderDownloadTask
    },
    created () {
    },
    methods: {
        goHome () {
            window.location.href = '/'
        },
        getData(val) {
          this.packagingTaskAmount = val
        }
    }
}

</script>

<style lang="less">
  @primary-color: #00abd5;
	.harvest_library__card_box {
		height: calc(100vh - 150px);
	}
	.harvest_library__card_box .el-card__body {
		height: calc(100% - 50px);
  }
  .harvest_library__card_box {
    .middle {
      display: flex;
      justify-content: center; /* 水平居中 */
      align-items: center; /* 垂直居中 */
    }
  }
</style>
